.comment {
 margin-top: 25px;
 margin-left: 25px;
}
.binhLuan {
    padding: 15px;
    border-radius: 15px;
    background-color: #80808059;
    margin-top: 10px;
    
}
.commentId {
    font-size: 25px;
    
}
.commentP {
    color: red;
}